body {
    background: rgb(34, 193, 195);
    background: linear-gradient(-90deg, rgba(34, 193, 195, 1) 0%, rgba(230, 230, 230, 1) 35%);
    height: 100%;
}

#a {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 270px;
    background: url('ecomp-b.png') no-repeat bottom right;
    background-size: 100%;
}

.clock {
    padding-left: 15px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 150px;
}

#logo {
    height: 50px;
    width: 50px;
}

h1 {
    padding-left: 15px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    color: grey;
    line-height: 170px;
}

a {
    padding-left: 15px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    font-weight: 200;
    color: grey;
    line-height: 11px;
}